<div id="transactions">

    <%- include('transactions_filter'); %>

    <!-- data list stored -->
    <input type="hidden" value="<%= JSON.stringify(data) %>" id="data_list_storage"/> 

    <!-- AID list stored -->
    <input type="hidden" value="<%= JSON.stringify(aid_list) %>" id="aid_list_storage"/> 
    
    <table id="transactions_tbl_data">
        <tr>
            <th>Date</th>
            <th>ATM ID</th>
            <th>Customer PAN</th>
            <th>Description</th>
            <th>
                <div id="search_container">
                    <p>Code</p>
                    <div id="search_box">
                        <i class="fas fa-search"></i>
                        <input type="search" id="search_t_results" placeholder="Search in results"/>
                    </div>
                </div> 
            </th>
        </tr>
        <tbody id="prnt_data">
            <!-- transactions td prints here -->
        </tbody>
    </table>

    <p id="prnt_empty"></p>
</div>

<style>
    @import url("../style/tranactions.css");
</style>