#navigation {
    width: 95%;
}

#nav_item {
    display: grid;
    grid-template-columns: 5% 95%;
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 2px;
}

#nav_item:hover {
    background-color: #bababa;
    cursor: pointer;
}

#nav_details {
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#nav_marker {
    width: 10px;
    height: 100%;
    background-image: linear-gradient(to right, rgb(248, 169, 248), rgb(191, 39, 191));
    border-radius: 10px;
    opacity: 0;
}

#active_nav {
    text-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 40px;
}

#active_nav i {
    pointer-events: none;
}

.active_nav_on {
    background-color: #bababa;
}

#nav_item label {
    pointer-events: none;
    padding: 10px;
    font-size: 18px;
}

.selectedNav {
    background-color: rgb(213, 213, 213);
}