#popup {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 130%;
    display: none;
}

#pop_bg {
    position: absolute;
    opacity: 0.1;
    background-color: black;
    width: 100%;
    height: 100%;
    filter: blur(2)
}

#pop_display {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 30vw;
    margin-top: 35vh;
    margin-left: 35vw;
    box-shadow: 7px 7px 0 rgb(0, 0, 0);
    animation: fadeInDown 0.4s;
}