#transactions {
    padding-left: 10px;
}

#t_header {
    display: flex;
    height: 5vh;
    align-items: center;
}

#t_header label {
    font-size: 23px;
    padding-bottom: 15px;
    margin-top: 10px;
    width: 75%;
}

#t_header_controls {
    width: 25%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#t_header_controls button {
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    border: 1px solid gray;
    width: 90%;
    margin-left: 10%;
    transition: background-color 0.3s ease-in-out;
}

#t_header_controls button:hover {
    cursor: pointer;
    background-color: lightslategray;
}

#t_controls {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 5vh;
}

#t_controls input, #t_controls select, #t_controls option {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px;
    width: 90% !important;
}

#t_controls label {
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#t_dates {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    padding: 3.5px 5px;
    border-radius: 5px;
    width: 84%;
    text-align: center;
}

#t_dates input {
    padding: 5px;
    margin: 0;
    border: none;
    outline: none;
}

/* --------------- table data ------------ */

table {
    width: 100%;
    background-color: white;
    border-radius: 7px;
    border-collapse: collapse;
    margin-top: 4vh;
    border: 2px solid lightgray;
}

table thead {
    border-radius: 7px;
}

table th {
    padding: 8px;
    font-size: 18px;
    text-align: left;
    background-color: #eeeeee;
    border-bottom: 2px solid rgb(204, 204, 204);
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
}

table tr {
    border-bottom: 2px solid rgb(204, 204, 204);
}

table tr:hover {
    background-color: rgb(248, 244, 244);
    cursor: pointer;
}

table td {
    padding: 12px;
    font-size: 18px;
    border: none;
    vertical-align: top;
}

table td p {
    align-items: center;
    padding-bottom: 7px;
}

#t_desrc {
    display: flex;
    border-radius: 7px;
    align-items: center;
}

#t_desrc i {
    color: red;
    margin-right: 6px;
}

.t_alert {
    background-color: pink;
    padding: 5px;
    margin-bottom: 5px;
}

#t_desrc p {
    display: flex;
    align-items: center;
    padding-top: 4px;
    width: 50%;
}

/* -------------search-------------- */

#search_container {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#search_container p {
    display: block;
    align-items: center;
    padding-left: 30%;
    text-align: right;
    margin-right: 30%;
    margin-top: 8px;
}

#search_box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 4px 8px;
    border-radius: 10px;
}

#search_box i {
    color: lightgray;
}

#search_box input {
    border: none;
    outline: none;
    background: none;
}

/* -------------loading------------- */

#t_loading {
    display: none;
    width: 100%;
    height: 5vh;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
}

#prnt_empty {
    text-align: center;
    margin-top: 100px;
}

#prnt_empty i {
    animation: fadeInUp 0.8s;
}

#prnt_empty p {
    animation: fadeInUp 1s;
}