@media only screen and (max-width: 1100px) {
    #main {
        display: block;
        width: 95%;
    }
    #navigation {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    #nav_item {
        margin-right: 10px;
    }
    #navigation #active_nav {
        display: none;
    }
    header #user_cont {
        width: 5vh;
        height: 5vh;
    }
    header #page_title {
        width: 27vh;
        height: 1.8vh;
    }
    header #options_item {
        width: 5vh;
        height: 5vh;
        margin-left: 60vw;
    }
    #t_controls {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    #t_controls input {
        width: 200px !important;
    }
}