<div id="popup">
    <div id="pop_bg"></div>
    <div id="pop_display">
        <center>
        <i class="fas fa-exclamation-triangle fa-3x"></i>
        <h1 id="pop_text"></h1></center>
    </div>
</div>

<style>
    @import url("../style/popup.css");
</style>